# =========================
# Neuroimaging / BIDS .gitignore
# =========================

# Raw imaging data
*.nii
*.nii.gz
*.dcm
*.IMA
*.img
*.hdr
*.mgz
*.tgz
*.tar.gz
*.dicom
# Data directories

data/*
new_study_template/data/
!data/.gitkeep
bids/derivatives/
!.gitkeep

# Logs and cluster outputs
logs/
*.log
*.out
.err

# Scratch / temporary directories
work/
tmp/
scratch/

# Python cache
pycache/
.pyc
.pyo

# Jupyter
.ipynb_checkpoints/

# macOS files
.DS_Store

# Editor temporary files
*~
.swp
.swo

# Singularity cache
singularity-cache/

#Keep BIDS metadata

!bids/.json
!bids/.tsv
!bids/.tsv.gz
!bids/.bval
!bids/*.bvec
!bids/dataset_description.json